.wrapper {
  margin: 5vh 5vw;
  width: 100%;
}

.mat-card-image {
  width: calc(182px * 1.2);
  height: calc(268px * 1.2);
}

.content .mati-figure {
  text-align: left;
}

.quebrar-linha {
  white-space: pre-line;
}